/*div {
    display: 
    
   
    
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: grid;
    grid-template-columns: repeat(6, 0fr);
    gap: 1px;
}

div {
    display: inline-block;
    width: 150px;
    height: 150px;

}

#borda {
    border: 2px solid black;
    background-color: red;
    box-shadow: 2px 2px 2px rgba(252, 3, 3, 1), -2px -2px 2px red;
}

#borda:hover {
    box-shadow: 5px 5px 8px rgba(7, 0, 0, 0.5), -5px -5px 8px rgba(7, 0, 0, 0.5);
    background-color: rgb(98, 97, 155);
    transform: translateY(1px);
}

.red {
    background-color: red;

}

.blue {
    background-color: rgb(119, 216, 255);
}

.green {
    background-color: rgb(34, 252, 34);
}

.yellow {
    background-color: rgb(253, 253, 29);
}